$background: #444;
$text: #fff;
$success: #597526;
$warning: #e98000;
$failure: #ec663c;
$info: rgb(3, 161, 252);
$error: #ec663c;
$unknown: #b5b5b5;
$workinprogress: #A9A9A9;


.widget-messages {

  li {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 25px;
    background-color: $background;

    h2 {
      font-size: 25px;
      padding: 0px 0px 10px 10px;
      text-align: left;
    }

    .messagesblock {
      padding-bottom: 20px;
    }

    .fa-exclamation-triangle {
      color: $warning;
    }
  
    .fa-exclamation-circle {
      color: $failure;
    }
  
    .fa-question {
      color: $unknown;
    }
  
    .fa-briefcase {
      color: c;
    }

    .fa-clock-o {
      color: $info;
    }

    .fa-info-circle {
      color: $info;
    }
  
    .detail::before {
      content: " - "
    }

    p {
      padding: 0px 15px 0px 15px;
    }

    span {
      text-align: left;
    }

    .single-message-header {
      color: #dbdbdb;
      font-size: 20px
    }
    .single-message-header.fa {
      font-size: 20px;
    }
    .single-message-header span{
      padding-left:6px
    }

    .single-message-body {
      margin-top: -2px;
      color: #b5b5b5;
      font-size: 15px;
      overflow: hidden;
      text-overflow: ellipsis;
      word-wrap: break-word;
      line-height: 1.8em;
      max-height: 1.8em;
      padding-left: 3em;
    }

    .single-message-body.fa {
      font-size:9px;
    }
    .single-message-body span{
      padding-left:5px
    }

    p &.updated-at {
      font-size: 10px;
    }
  
  }
}
